/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Neo Sans Arabic", sans-serif;
  background-color: #f3f5f7;
  padding: 50px;
}

#gradient-0 stop {
  stop-color: #506ef9;
}
#gradient-0 stop[offset="0"] {
  stop-opacity: 0.25;
}
#gradient-0 stop[offset="1"] {
  stop-opacity: 0;
}

.highcharts-color-0 {
  fill: #506ef9;
  stroke: #506ef9;
}
.highcharts-color-0 .highcharts-area {
  fill-opacity: 1;
  fill: url(#gradient-0);
}
